@charset "UTF-8";

form{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	text-indent: 0;	
}

form fieldset{
	margin: 20px 0px;
    border: 1px solid #c0c0c0;
}

form fieldset:first-child{margin: 0;}

form fieldset legend{
	padding: 5px 20px;
	box-shadow: 0px 0px 5px #000;
	background: #8A0000;
	color: #fff;
}

form.estende input[type="text"]{
    width: 250px;
}

input[type="text"],select,input[type="email"],input[type="password"],input[type="date"],textarea{
	display: block;
	padding: 10px;
	background: #fff;
	border: 1px solid #c0c0c0;
	color: #606060;
	width: auto;
}

input[type="submit"],input[type="reset"],button{
	background: #8A0000;
	color: #fff;
	border:none;
	padding: 5px 20px;
	margin-top: 10px;
	cursor: pointer;
	transition: background .3s;
	margin: 10px;
	margin-left: 0;
}

input[type="submit"]:hover,input[type="reset"]:hover,button:hover{
	
	background: #C0C0C0;
	color: #fff;
}

input[type="submit"]:active{
	background: #eee;
	cursor: default;
}

input[readonly]{
	background: #d2d2d2;
	color: #666;
	cursor: crosshair;
}

form span a{
	font-size: 9pt;
	color: #8A0000;
}

form#cadproj input[type="text"],form#cadproj input[type="password"],form#cadproj select{
	width: 400px;
}

input[type="radio"]{
	text-indent: 0;
}

form textarea{
	border-left: 5px solid #606060;
	padding-left: 10px;
	box-shadow: inset 0px 0px 100px #eee;
}

form textarea:focus{
	border-left: 5px solid #96CC00;	
	box-shadow: none;
}

form#preenche_projeto div#preenche_projeto{
	position: relative;
}

form#preenche_projeto fieldset textarea.atividade{
	float: left;
	resize: none;
}
form#preenche_projeto div.cronograma_atividade {
	background: #ddd;
	padding: 5px;
	background: none;
	margin: 5px 0px 55px 0px;
	border-top: 1px solid #c0c0c0;
}

form#prenche_projeto div.cronograma_atividade label.label_cr_at{
	float: left;
	display: block;
	position: absolute;
}

form#prenche_projeto div.cronograma_atividade div.cronogama_meses{
	float: right;
	margin: 5px;
	background: #fff;
}

form#preenche_projeto div.cronograma_atividade div.cronograma_meses span.div_meses{
	display: inline-table;
	padding: 5px 10px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin: 2px;
}

form#preenche_projeto div.cronograma_atividade label.label_cr_at{
	margin-left: 5px;
}

form#preenche_projeto div.cronograma_atividade div.cronograma_meses span.div_meses:hover{
}

button{
	position: relative;
}

button#bt_addCr, button#bt_remCr{
	border-radius: 5px;
	background: #606060;
}

button img{
	position: absolute;
	left: -5px;
	top: -5px;
}

.form-gp{
    padding: 10px;
    display: inline-block;
    margin: 0 10px;
    float: left;
}